#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -300px;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  
}

#left-button {
  margin-left: auto;
}

#right-button {
  margin-right: auto;
}