<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="perfil" style="text-align: center; margin-top: 50px; position: relative;">
    <img 
      src="../../assets/icon/img/Top 10 Learner Animals Driving Cars.jpg" 
      alt="perro elegante" 
      style="position: absolute; top: -40px; right: 10px; width: 50px; height: auto; border-radius: 50%; border: 1px solid black;cursor: pointer;"
    >
  </div>
  <div style="text-align: center;">
    <h1>Bienvenido/a conductor/a, {{ username }}!</h1>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="../../assets/icon/img/cat-driving-cat.gif" alt="gato conduciendo de pana" style="max-width: 100%; height: auto; margin-top: -500px;">
  </div>
  
  <div style="display: flex; justify-content: center; margin-top: -500px;">
    <ion-button [routerLink]="['/solicitudes']" fill="outline">
      Ver solicitudes de viaje
    </ion-button>
  </div>
</ion-content>